<style type="text/css">
body{
    font-family: Arial, Verdana, Calibri;
    font-size: 12px;
    text-align: justify;
    margin-left: 20px;
}
h2{
    background-color: #0066FF;
    color:#CCCCFF
    padding: 2px;
}
</style>